html { 
  background-color: #D3D3D3;
}

.flex-container{
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
}

.inner-element-1{
  width: 750px;
  height: 100px;
  display: inline-block;

}

.inner-element-2{
    width:250px;
}

.hidden {
  display: none;
}

.container {
  margin: 0;
  max-width: 750px;
  margin:10vh auto 0 auto;
}

.container2 > div {
    display: inline-block;
}

.container > div {
  display: inline-block;
}

#moms {
    display: inline-block;
}

#slideshow {
  margin: 0;
	position: relative;
    width: 620px;
  height: 250px;
}

#slideshow > div {
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
}

#slideshow img {
	width: 100%;
    margin: 0;
    border: solid 1px #283593;
}

#sounds-clips {
    margin: 0;
	position: relative;
}

.audio {
  display: inline-block;

}


.arrowR, .arrowL {
  width: 40px;
  font-size: 64px;
  display: inline-block;
  color: #9FA8DA;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  line-height: 400px;
  font-weight: bold;
  padding: 0 10px;
}